.button{
    border: solid 1px #6A0F49;
    transition: all 0.1s ease-in;
    width: 140px !important;
    word-wrap: break-word;
}

.add{ background-color: #6A0F49; color: white; }

.view{ background-color: white; color: black; }

.button:hover{  filter: brightness(120%); }

.category{
    background-color: transparent;
    border: none;
    color: #735CDD !important;
    position: relative;
    transition: transform 0.2s ease-in;
    word-wrap: break-word;
}

.category:hover{ transform: translateY(-5px);}

.category::after{
    transform: scale(0);
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #735CDD;
    transition: transform 0.2s ease-in;
    border-radius: 10px;
}

.category:hover::after{ transform: scale(1); }

img{ width: 100%; height: 340px !important;}

.arrow{ width: 300px; height: 400px; animation: moveArrow 1.5s linear infinite;}

h1{ color: black !important;}

h3{ color: #4CB963 !important;}

h4{ color: gray !important;}

.App h1{ word-wrap: break-word; }

.App h1, .categories, .footer{ background-color: #1E2019; }

.categories{ height: auto; }

.categories p{ color: #735CDD; word-wrap: break-word; }

.categories-viewport{ overflow-x: auto; }

.product{ transition: all 0.3s ease-in; width: 350px; }

.product:hover{
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px #735CDD;
}

.footer p { word-wrap: break-word; }

.ilustration{ width: 500px;}

@keyframes moveArrow {
    0%{ transform: translateY(10px); }

    50%{ transform: translateY(-7px); }

    100%{ transform: translateY(9px); }
}

@media screen and (max-width: 992px) {
    .products div .product{ width: 100% !important;}
}

@media screen and (max-width: 767px){
    .ilustration .arrow{ width: 200px !important; height: 300px !important;}
    .products div .product{ width: 60% !important;}
}

@media screen and (max-width: 440px){
    .ilustration .arrow{ width: 50% !important; height: 200px !important;}
    .products div .product{ width: 100% !important;}
}